In [11]:
import pandas as pd
import os
from glob import glob

In [12]:
# glob finds all the files in a specified directory that match the condition
# we do this so we can open multiple files at once
csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData\\bom.movie_gross.csv.gz',
 './zippedData\\imdb.name.basics.csv.gz',
 './zippedData\\imdb.title.akas.csv.gz',
 './zippedData\\imdb.title.basics.csv.gz',
 './zippedData\\imdb.title.crew.csv.gz',
 './zippedData\\imdb.title.principals.csv.gz',
 './zippedData\\imdb.title.ratings.csv.gz',
 './zippedData\\tmdb.movies.csv.gz',
 './zippedData\\tn.movie_budgets.csv.gz']

In [13]:
# tsv files, because later tsv files need to be opened with sep='\t'
tsv_files = glob("./zippedData/*.tsv.gz")
tsv_files

['./zippedData\\rt.movie_info.tsv.gz', './zippedData\\rt.reviews.tsv.gz']

In [14]:
data_dict = {}

for file in csv_files:
    data_dict[file] = pd.read_csv(file)
    
for file in tsv_files:
    data_dict[file] = pd.read_csv(file, sep='\t', encoding= 'unicode_escape')

In [15]:
#1 we're creating a dictionary
#2 there are two types of files, csv and tsv. tsv needs '\t'
#3 looping through each of the files and opening them as dataframes
#4 now we have a dictionary of dataframes
#5 the encoding solves the utf-8 error
 

#reviews = pd.read_csv('data/rt.reviews.tsv', sep='\t', encoding= 'unicode_escape')
# reviews.head() # Henry's input to import individually

Now you have a dictionary of DataFrames! You can choose to save each one to a variable and do with them what you wish.

In [16]:
ls

 Volume in drive C is OS
 Volume Serial Number is 58D2-4134

 Directory of C:\Users\DELL\FLATIRON_LEARN\Project_Mod1\dsc-mod-1-project-v2-1-onl01-dtsc-pt-070620

19-08-2020  00:02    <DIR>          .
19-08-2020  00:02    <DIR>          ..
12-08-2020  04:23                66 .gitignore
12-08-2020  06:02    <DIR>          .ipynb_checkpoints
12-08-2020  04:23                93 .learn
12-08-2020  04:23         1,425,341 awesome.gif
12-08-2020  04:23             1,846 CONTRIBUTING.md
12-08-2020  04:23             1,357 LICENSE.md
12-08-2020  05:59             2,084 mod1-project-starter.ipynb
12-08-2020  04:23            78,619 module1_project_rubric.pdf
12-08-2020  04:23            12,713 README.md
19-08-2020  00:02            37,847 Rough2.ipynb
12-08-2020  07:07            13,831 RoughProjectMod1.ipynb
12-08-2020  04:38             1,891 student.ipynb
12-08-2020  04:23    <DIR>          zippedData
              11 File(s)      1,575,688 bytes
               4 Dir(s)  842,523,062,272 bytes free

In [41]:
data_dict

{'./zippedData\\bom.movie_gross.csv.gz':                                             title      studio  domestic_gross  \
 0                                     Toy Story 3          BV     415000000.0
 1                      Alice in Wonderland (2010)          BV     334200000.0
 2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
 3                                       Inception          WB     292600000.0
 4                             Shrek Forever After        P/DW     238700000.0
 ...                                           ...         ...             ...
 3382                                    The Quake       Magn.          6200.0
 3383                  Edward II (2018 re-release)          FM          4800.0
 3384                                     El Pacto        Sony          2500.0
 3385                                     The Swan  Synergetic          2400.0
 3386                            An Actor Prepares       Grav.          1700.0

      foreign_gross  year
 0        652000000  2010
 1        691300000  2010
 2        664300000  2010
 3        535700000  2010
 4        513900000  2010
 ...            ...   ...
 3382           NaN  2018
 3383           NaN  2018
 3384           NaN  2018
 3385           NaN  2018
 3386           NaN  2018

 [3387 rows x 5 columns],
 './zippedData\\imdb.name.basics.csv.gz':            nconst         primary_name  birth_year  death_year  \
 0       nm0061671    Mary Ellen Bauder         NaN         NaN
 1       nm0061865         Joseph Bauer         NaN         NaN
 2       nm0062070           Bruce Baum         NaN         NaN
 3       nm0062195         Axel Baumann         NaN         NaN
 4       nm0062798          Pete Baxter         NaN         NaN
 ...           ...                  ...         ...         ...
 606643  nm9990381         Susan Grobes         NaN         NaN
 606644  nm9990690          Joo Yeon So         NaN         NaN
 606645  nm9991320       Madeline Smith         NaN         NaN
 606646  nm9991786  Michelle Modigliani         NaN         NaN
 606647  nm9993380       Pegasus Envoyé         NaN         NaN

                                       primary_profession  \
 0              miscellaneous,production_manager,producer
 1             composer,music_department,sound_department
 2                             miscellaneous,actor,writer
 3       camera_department,cinematographer,art_department
 4       production_designer,art_department,set_decorator
 ...                                                  ...
 606643                                           actress
 606644                                           actress
 606645                                           actress
 606646                                          producer
 606647                             director,actor,writer

                                known_for_titles
 0       tt0837562,tt2398241,tt0844471,tt0118553
 1       tt0896534,tt6791238,tt0287072,tt1682940
 2       tt1470654,tt0363631,tt0104030,tt0102898
 3       tt0114371,tt2004304,tt1618448,tt1224387
 4       tt0452644,tt0452692,tt3458030,tt2178256
 ...                                         ...
 606643                                      NaN
 606644                      tt9090932,tt8737130
 606645                      tt8734436,tt9615610
 606646                                      NaN
 606647                                tt8743182

 [606648 rows x 6 columns],
 './zippedData\\imdb.title.akas.csv.gz':          title_id  ordering                                    title region  \
 0       tt0369610        10                            Джурасик свят     BG
 1       tt0369610        11                        Jurashikku warudo     JP
 2       tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR
 3       tt0369610        13                  O Mundo dos Dinossauros     BR
 4       tt0369610        14                           Jurassic World     FR
 ...           ...       ...                                      ...    ...
 331698  tt9827784         2                       Sayonara kuchibiru    NaN
 331699  tt9827784         3                            Farewell Song    XWW
 331700  tt9880178         1                              La atención    NaN
 331701  tt9880178         2                              La atención     ES
 331702  tt9880178         3                            The Attention    XWW

        language        types   attributes  is_original_title
 0            bg          NaN          NaN                0.0
 1           NaN  imdbDisplay          NaN                0.0
 2           NaN  imdbDisplay          NaN                0.0
 3           NaN          NaN  short title                0.0
 4           NaN  imdbDisplay          NaN                0.0
 ...         ...          ...          ...                ...
 331698      NaN     original          NaN                1.0
 331699       en  imdbDisplay          NaN                0.0
 331700      NaN     original          NaN                1.0
 331701      NaN          NaN          NaN                0.0
 331702       en  imdbDisplay          NaN                0.0

 [331703 rows x 8 columns],
 './zippedData\\imdb.title.basics.csv.gz':            tconst                                primary_title  \
 0       tt0063540                                    Sunghursh
 1       tt0066787              One Day Before the Rainy Season
 2       tt0069049                   The Other Side of the Wind
 3       tt0069204                              Sabse Bada Sukh
 4       tt0100275                     The Wandering Soap Opera
 ...           ...                                          ...
 146139  tt9916538                          Kuambil Lagi Hatiku
 146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro
 146141  tt9916706                              Dankyavar Danka
 146142  tt9916730                                       6 Gunn
 146143  tt9916754               Chico Albuquerque - Revelações

                                      original_title  start_year  \
 0                                         Sunghursh        2013
 1                                   Ashad Ka Ek Din        2019
 2                        The Other Side of the Wind        2018
 3                                   Sabse Bada Sukh        2018
 4                             La Telenovela Errante        2017
 ...                                             ...         ...
 146139                          Kuambil Lagi Hatiku        2019
 146140  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
 146141                              Dankyavar Danka        2013
 146142                                       6 Gunn        2017
 146143               Chico Albuquerque - Revelações        2013

         runtime_minutes                genres
 0                 175.0    Action,Crime,Drama
 1                 114.0       Biography,Drama
 2                 122.0                 Drama
 3                   NaN          Comedy,Drama
 4                  80.0  Comedy,Drama,Fantasy
 ...                 ...                   ...
 146139            123.0                 Drama
 146140              NaN           Documentary
 146141              NaN                Comedy
 146142            116.0                   NaN
 146143              NaN           Documentary

 [146144 rows x 6 columns],
 './zippedData\\imdb.title.crew.csv.gz':            tconst                      directors              writers
 0       tt0285252                      nm0899854            nm0899854
 1       tt0438973                            NaN  nm0175726,nm1802864
 2       tt0462036                      nm1940585            nm1940585
 3       tt0835418                      nm0151540  nm0310087,nm0841532
 4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
 ...           ...                            ...                  ...
 146139  tt8999974                     nm10122357           nm10122357
 146140  tt9001390                      nm6711477            nm6711477
 146141  tt9001494          nm10123242,nm10123248                  NaN
 146142  tt9004986                      nm4993825            nm4993825
 146143  tt9010172                            NaN            nm8352242

 [146144 rows x 3 columns],
 './zippedData\\imdb.title.principals.csv.gz':             tconst  ordering      nconst  category       job  \
 0        tt0111414         1   nm0246005     actor       NaN
 1        tt0111414         2   nm0398271  director       NaN
 2        tt0111414         3   nm3739909  producer  producer
 3        tt0323808        10   nm0059247    editor       NaN
 4        tt0323808         1   nm3579312   actress       NaN
 ...            ...       ...         ...       ...       ...
 1028181  tt9692684         1   nm0186469     actor       NaN
 1028182  tt9692684         2   nm4929530      self       NaN
 1028183  tt9692684         3  nm10441594  director       NaN
 1028184  tt9692684         4   nm6009913    writer    writer
 1028185  tt9692684         5  nm10441595  producer  producer

                    characters
 0                 ["The Man"]
 1                         NaN
 2                         NaN
 3                         NaN
 4            ["Beth Boothby"]
 ...                       ...
 1028181  ["Ebenezer Scrooge"]
 1028182   ["Herself","Regan"]
 1028183                   NaN
 1028184                   NaN
 1028185                   NaN

 [1028186 rows x 6 columns],
 './zippedData\\imdb.title.ratings.csv.gz':            tconst  averagerating  numvotes
 0      tt10356526            8.3        31
 1      tt10384606            8.9       559
 2       tt1042974            6.4        20
 3       tt1043726            4.2     50352
 4       tt1060240            6.5        21
 ...           ...            ...       ...
 73851   tt9805820            8.1        25
 73852   tt9844256            7.5        24
 73853   tt9851050            4.7        14
 73854   tt9886934            7.0         5
 73855   tt9894098            6.3       128

 [73856 rows x 3 columns],
 './zippedData\\tmdb.movies.csv.gz':        Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
 './zippedData\\tn.movie_budgets.csv.gz':       id  release_date                                        movie  \
 0      1  Dec 18, 2009                                       Avatar
 1      2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
 2      3   Jun 7, 2019                                 Dark Phoenix
 3      4   May 1, 2015                      Avengers: Age of Ultron
 4      5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi
 ...   ..           ...                                          ...
 5777  78  Dec 31, 2018                                       Red 11
 5778  79   Apr 2, 1999                                    Following
 5779  80  Jul 13, 2005                Return to the Land of Wonders
 5780  81  Sep 29, 2015                         A Plague So Pleasant
 5781  82   Aug 5, 2005                            My Date With Drew

      production_budget domestic_gross worldwide_gross
 0         $425,000,000   $760,507,625  $2,776,345,279
 1         $410,600,000   $241,063,875  $1,045,663,875
 2         $350,000,000    $42,762,350    $149,762,350
 3         $330,600,000   $459,005,868  $1,403,013,963
 4         $317,000,000   $620,181,382  $1,316,721,747
 ...                ...            ...             ...
 5777            $7,000             $0              $0
 5778            $6,000        $48,482        $240,495
 5779            $5,000         $1,338          $1,338
 5780            $1,400             $0              $0
 5781            $1,100       $181,041        $181,041

 [5782 rows x 6 columns],
 './zippedData\\rt.movie_info.tsv.gz':         id                                           synopsis rating  \
 0        1  This gritty, fast-paced, and innovative police...      R
 1        3  New York City, not-too-distant-future: Eric Pa...      R
 2        5  Illeana Douglas delivers a superb performance ...      R
 3        6  Michael Douglas runs afoul of a treacherous su...      R
 4        7                                                NaN     NR
 ...    ...                                                ...    ...
 1555  1996  Forget terrorists or hijackers -- there's a ha...      R
 1556  1997  The popular Saturday Night Live sketch was exp...     PG
 1557  1998  Based on a novel by Richard Powell, when the l...      G
 1558  1999  The Sandlot is a coming-of-age story about a g...     PG
 1559  2000  Suspended from the force, Paris cop Hubert is ...      R

                                                   genre            director  \
 0                   Action and Adventure|Classics|Drama    William Friedkin
 1                     Drama|Science Fiction and Fantasy    David Cronenberg
 2                     Drama|Musical and Performing Arts      Allison Anders
 3                            Drama|Mystery and Suspense      Barry Levinson
 4                                         Drama|Romance      Rodney Bennett
 ...                                                 ...                 ...
 1555   Action and Adventure|Horror|Mystery and Suspense                 NaN
 1556                 Comedy|Science Fiction and Fantasy        Steve Barron
 1557  Classics|Comedy|Drama|Musical and Performing Arts      Gordon Douglas
 1558    Comedy|Drama|Kids and Family|Sports and Fitness  David Mickey Evans
 1559  Action and Adventure|Art House and Internation...                 NaN

                                                 writer  theater_date  \
 0                                       Ernest Tidyman   Oct 9, 1971
 1                         David Cronenberg|Don DeLillo  Aug 17, 2012
 2                                       Allison Anders  Sep 13, 1996
 3                      Paul Attanasio|Michael Crichton   Dec 9, 1994
 4                                         Giles Cooper           NaN
 ...                                                ...           ...
 1555                                               NaN  Aug 18, 2006
 1556  Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner  Jul 23, 1993
 1557                                               NaN   Jan 1, 1962
 1558                  David Mickey Evans|Robert Gunter   Apr 1, 1993
 1559                                        Luc Besson  Sep 27, 2001

           dvd_date currency  box_office      runtime             studio
 0     Sep 25, 2001      NaN         NaN  104 minutes                NaN
 1      Jan 1, 2013        $     600,000  108 minutes  Entertainment One
 2     Apr 18, 2000      NaN         NaN  116 minutes                NaN
 3     Aug 27, 1997      NaN         NaN  128 minutes                NaN
 4              NaN      NaN         NaN  200 minutes                NaN
 ...            ...      ...         ...          ...                ...
 1555   Jan 2, 2007        $  33,886,034  106 minutes    New Line Cinema
 1556  Apr 17, 2001      NaN         NaN   88 minutes  Paramount Vantage
 1557  May 11, 2004      NaN         NaN  111 minutes                NaN
 1558  Jan 29, 2002      NaN         NaN  101 minutes                NaN
 1559  Feb 11, 2003      NaN         NaN   94 minutes  Columbia Pictures

 [1560 rows x 12 columns],
 './zippedData\\rt.reviews.tsv.gz':          id                                             review rating   fresh  \
 0         3  A distinctly gallows take on contemporary fina...    3/5   fresh
 1         3  It's an allegory in search of a meaning that n...    NaN  rotten
 2         3  ... life lived in a bubble in financial dealin...    NaN   fresh
 3         3  Continuing along a line introduced in last yea...    NaN   fresh
 4         3             ... a perverse twist on neorealism...     NaN   fresh
 ...     ...                                                ...    ...     ...
 54427  2000  The real charm of this trifle is the deadpan c...    NaN   fresh
 54428  2000                                                NaN    1/5  rotten
 54429  2000                                                NaN    2/5  rotten
 54430  2000                                                NaN  2.5/5  rotten
 54431  2000                                                NaN    3/5   fresh

                   critic  top_critic         publisher                date
 0             PJ Nabarro           0   Patrick Nabarro   November 10, 2018
 1         Annalee Newitz           0           io9.com        May 23, 2018
 2           Sean Axmaker           0  Stream on Demand     January 4, 2018
 3          Daniel Kasman           0              MUBI   November 16, 2017
 4                    NaN           0      Cinema Scope    October 12, 2017
 ...                  ...         ...               ...                 ...
 54427      Laura Sinagra           1     Village Voice  September 24, 2002
 54428  Michael Szymanski           0        Zap2it.com  September 21, 2005
 54429       Emanuel Levy           0   EmanuelLevy.Com       July 17, 2005
 54430   Christopher Null           0    Filmcritic.com   September 7, 2003
 54431    Nicolas Lacroix           0      Showbizz.net   November 12, 2002

 [54432 rows x 8 columns]}

In [18]:
tsv_files

['./zippedData\\rt.movie_info.tsv.gz', './zippedData\\rt.reviews.tsv.gz']

In [19]:
imdb_df = pd.read_csv('zippedData/imdb.name.basics.csv.gz')

In [20]:
imdb_df.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [21]:
imdb_df.tail()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

In [22]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
nconst                606648 non-null object
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB

In [23]:
imdb_df.shape

(606648, 6)

In [24]:
imdb_df['primary_name'].value_counts(10)

Michael Brown            0.000026
James Brown              0.000026
David Brown              0.000025
Michael Johnson          0.000023
Dinesh                   0.000021
                           ...
Cory Huff                0.000002
Sergio Bradgio           0.000002
Nynke Laverman           0.000002
Alex Gudkov              0.000002
Kalyana Chandrasekera    0.000002
Name: primary_name, Length: 577203, dtype: float64

In [39]:
imdb_df.groupby('primary_name').sum()

                             birth_year  death_year
primary_name
!'aru Ikhuisi Piet Berendse         0.0         0.0
$hutter                             0.0         0.0
'A.J.' Marriot                      0.0         0.0
'Atlas' Ramachandran                0.0         0.0
'Atolomake Helu                     0.0         0.0
...                                 ...         ...
Þórhallur Þórhallsson               0.0         0.0
Þórir Bragason                      0.0         0.0
Þórir Ingvarsson                    0.0         0.0
Þórunn Lárusdóttir                  0.0         0.0
Þórður Aðalbjörnsson                0.0         0.0

[577203 rows x 2 columns]

In [37]:
imdb_df.isnull().sum()

nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64

In [26]:
type(imdb_df)

pandas.core.frame.DataFrame

In [27]:
imdb_df1 = pd.read_csv('zippedData/imdb.title.akas.csv.gz')
imdb_df2 = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
imdb_df3 = pd.read_csv('zippedData/imdb.title.crew.csv.gz')
imdb_df4 = pd.read_csv('zippedData/imdb.title.principals.csv.gz')
imdb_df5 = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
tmdb_df = pd.read_csv('zippedData/tmdb.movies.csv.gz')
bom = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
tn = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

In [29]:
imdb_df.info()
imdb_df1.info()
imdb_df2.info()
imdb_df3.info()
imdb_df4.info()
imdb_df5.info()
tmdb_df.info()
bom.info()
tn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
nconst                606648 non-null object
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
title_id             331703 non-null object
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [31]:
print(imdb_df.shape,imdb_df1.shape,imdb_df2.shape,imdb_df3.shape,imdb_df4.shape,imdb_df5.shape,tmdb_df.shape,bom.shape,tn.shape)

(606648, 6) (331703, 8) (146144, 6) (146144, 3) (1028186, 6) (73856, 3) (26517, 10) (3387, 5) (5782, 6)

In [63]:
# imdb_title_df = pd.concat([imdb_df1, imdb_df2, imdb_df3,imdb_df4], axis=1, join='inner')
# imdb_title_df